/* Navbar CSS */
nav {
    min-height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav {
    background-color: #fff;
}

.nav-main {
    margin: auto;
    width: 97%;
    display: flex;
    justify-content: space-between;
}

/* Display Button CSS */

.display-btn {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    border-radius: 6px;
    padding: 0.25rem 0.4rem;
    border: 2px solid #e6e7eb;
    cursor: pointer;
    color: #373737;
    box-shadow: 0 0 8px 0 #0000001a;
}

/* Ticket CSS */

.ticket {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem 1.2rem;
    width: 100%;
    border-radius: 6px;
}

.theme .ticket {
    background-color: #ffff;
    box-shadow: 0px 0px 8px 0px #0000001a;
    border: 1px solid #e6e7eb;
}

.theme .ticket .heading {
    font-size: 1rem;
    color: #8D8D8D;
}