.App {
    width: 100%;
    min-height: 100vh;
    background-color: #F4F5F8;
}

.app-main {
    width: 97%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    min-height: 92vh;
    padding: 10px 0;
}

button {
    background-color: transparent;
    outline: 0;
    border: none;
}

.status-grouping-section-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0 0.4rem;
}

.left {
    display: flex;
    gap: 7px;
    justify-content: space-between;
    align-items: center;
}
.right {
    display: flex;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
}

.status {
    font-size: 1rem;
    font-weight: 600;
    color: #373737;
}